body {
    text-align: center;
}

.back {
    background-size:  cover;   
    height: 200px;

    background-image: url(./images/Top.jpg);

}

header {
    text-align: center;
    line-height:200px;
}

button {
    margin: 50px;
    border-radius: 20px;
    background-color: skyblue;
	border: none;  /* 枠線を消す */
	cursor: pointer;
}
h1 {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 2px silver;
	margin: 0px;

}

p {
	margin-left: 30px;
}
.red {
    font-size: 34px;
    color: red;
    text-shadow: 2px 2px 2px silver;

}
.c {
    font-size: 24px;
    font-weight: normal;
}
.d {
margin: 10px 20px 10px 20px;
text-shadow: 1px 1px 2px white;
line-height: 1;
font-weight: bold;

}
#contact {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
	margin-left: 150px;
	
}
.caution {
    color: red;
}

.line {
	border-bottom: solid 1px black;
}

.mgr10 {
	margin-left: 15px;
}

a {
	text-decoration: none;
}
a:active {
	color:rgb(36, 36, 182);
}

.Form {
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
  }
 .Form-Item {
	/* border-top: 1px solid #ddd; */
	padding-top: 24px;
	padding-bottom: 24px;
	width: 100%;
	/* display: flex; */
	align-items: center;
  }
  .Form-Item-Label {
	width: 100%;
	/* max-width: 248px; */
	letter-spacing: 0.05em;
	/* font-weight: bold; */
	font-size: 16px;
    text-align: left;
  }
  .Form-Item-Label.isMsg {
	margin-top: 8px;
  }

 .Form-Item-Input {
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-left: 40px;
	padding-left: 1em;
	padding-right: 1em;
	height: 30px;
	flex: 1;
	width: 100%;
	max-width: 600px;
	background: #eaedf2;
	font-size: 18px;
    display: block;
  }
  .Form-Item-Textarea {
	border: 1px solid #ddd;
	border-radius: 20px;
	margin-left: 40px;
	padding-left: 1em;
	padding-right: 1em;
	height: 216px;
	flex: 1;
	width: 100%;
	max-width: 600px;
	background: #eaedf2;
	font-size: 18px;
	/* font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; */
    display: block;

}
  .Form-Btn {
	border-radius: 10px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 150px;
	display: block;
	letter-spacing: 0.05em;
	background: #fd556e;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	border: none;  /* 枠線を消す */
	cursor: pointer;
}
