.clover {
    display: flex; /*並列*/
    flex-wrap: wrap; /*複数行の折り返し*/
    width: 420px;
    margin: 20px auto;
  }
  .clover img {
    margin: 5px;
  }
  .img1 {
    border-radius: 50% 50% 0 50%
  }
  .img2 {
    border-radius: 50% 50% 50% 0
  }
  .img3 {
    border-radius: 50% 0 50% 50%
  }
  .img4 {
    border-radius: 0 50% 50% 50%
  }